stage_args:
 - stage_id: 0
   runtime:
     num_tpus: 1
     max_batch_size: 1
   args:
     engine_type: xxx, ar or diffusion
     model_stage: thinker
     model_arch: Qwen3OmniMoeForConditionalGeneration
     # 要想跟vllm保持一致感觉还比较麻烦
     mem_fraction_static: 0.6
     trust_remote_code: true
     engine_output_type: latent  # Output hidden states for talker
     distributed_executor_backend: "mp"
     disable_radix_cache: true
     hf_config_name: thinker_config
     tensor_parallel_size: 2
   final_output: true
   final_output_type: text
   is_comprehension: true
   default_sampling_params:
     temperature: 0.4
     top_p: 0.9
     top_k: 1
     max_tokens: 2048
     seed: 42
     detokenize: True
     repetition_penalty: 1.05
