name: Lint

on: [ pull_request ]

jobs:
  lint:
    runs-on: arc-runner-cpu
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Python 3.12 and dependencies
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y software-properties-common
          sudo add-apt-repository -y ppa:deadsnakes/ppa
          sudo apt update
          sudo apt install -y \
              python3.12 \
              python3.12-venv \
              python3.12-dev \
              git \
              curl \
              procps \
              build-essential
          python3.12 --version
          curl -sS https://bootstrap.pypa.io/get-pip.py | python3.12
      - name: Install pre-commit hook
        run: |
          python3.12 -m pip install --user pre-commit
          python3.12 -m pre-commit install

      - name: Linting
        run: pre-commit run --all-files --show-diff-on-failure
