name: Lint

on: [ pull_request ]

jobs:
  lint:
    runs-on: arc-runner-cpu
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install pre-commit hook
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install pre-commit
          pre-commit install

      - name: Linting
        run: |
          source .venv/bin/activate
          pre-commit run --all-files --show-diff-on-failure
