name: Nightly Test

on:
  schedule:
    - cron: '0 16 * * *'
  push:
    branches:
      - main
    paths:
      - "python/sgl_jax/version.py"
  pull_request:
    branches:
      - main
      - "epic/*"
    paths:
      - "python/**"
      - "scripts/**"
      - "test/**"
      - ".github/workflows/pr-test.yml"
  workflow_dispatch:

concurrency:
  group: nightly-test-${{ github.ref }}
  cancel-in-progress: true

jobs:

  nightly-test-accuracy-text-models-1-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-1
    strategy:
      fail-fast: false
      matrix:
        part: [0, 1 , 2, 3]
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run eval test for text models
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        timeout-minutes: 3000
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"
          uv pip install evalscope==0.17.1

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export BENCH_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/bench/$OUTPUT_DIR_NAME"
          echo "BENCH_OUTPUT_DIR=$BENCH_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $BENCH_OUTPUT_DIR

          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-accuracy-text-models-tpu-v6e-1 --auto-partition-id ${{ matrix.part }} --auto-partition-size 4
      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_bench_and_pref.py --source-dir ./test/nightly_test_output


  nightly-test-accuracy-text-models-4-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-4
    strategy:
      fail-fast: false
      matrix:
        part: [0, 1 , 2, 3 , 4, 5]
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run eval test for text models
        env:
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
            HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        timeout-minutes: 1200
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"
          uv pip install evalscope==0.17.1


          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export BENCH_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/bench/$OUTPUT_DIR_NAME"
          echo "BENCH_OUTPUT_DIR=$BENCH_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $BENCH_OUTPUT_DIR

          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-accuracy-text-models-tpu-v6e-4 --auto-partition-id ${{ matrix.part }} --auto-partition-size 6
      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_bench_and_pref.py --source-dir ./test/nightly_test_output


  nightly-test-perf-text-models-1-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-1
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run performance test for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PREF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/pref/$OUTPUT_DIR_NAME"
          echo "PREF_OUTPUT_DIR=$PREF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PREF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-perf-text-models-tpu-v6e-1

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |

          python3 scripts/ci/publish_bench_and_pref.py --source-dir ./test/nightly_test_output


  nightly-test-perf-text-models-4-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-4
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run performance test for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PREF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/pref/$OUTPUT_DIR_NAME"
          echo "PREF_OUTPUT_DIR=$PREF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PREF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite  nightly-test-perf-text-models-tpu-v6e-4

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_bench_and_pref.py --source-dir ./test/nightly_test_output


  nightly-test-perf-trace-text-models-1-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-1
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run performance test for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PREF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/pref/$OUTPUT_DIR_NAME"
          echo "PREF_OUTPUT_DIR=$PREF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PREF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-perf-trace-text-models-tpu-v6e-1

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_traces.py --traces-dir ./test/nightly_test_output


  nightly-test-perf-trace-text-models-4-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-4
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run performance test trace for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PREF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/pref/$OUTPUT_DIR_NAME"
          echo "PREF_OUTPUT_DIR=$PREF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PREF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite  nightly-test-perf-trace-text-models-tpu-v6e-4

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_traces.py --traces-dir ./test/nightly_test_output
