name: Nightly Test

on:
  schedule:
    - cron: '0 16 * * 1'
  push:
    branches:
      - main
    paths:
      - "python/sgl_jax/version.py"
  workflow_dispatch:
concurrency:
  group: nightly-test-${{ github.ref }}
  cancel-in-progress: true

jobs:

  nightly-test-accuracy-text-models-1-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-1
    strategy:
      fail-fast: false
      matrix:
        part: [0, 1 , 2, 3]
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run eval test for text models
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        timeout-minutes: 3000
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"
          uv pip install evalscope==1.0.0

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export BENCH_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/benchmark/$OUTPUT_DIR_NAME"
          echo "BENCH_OUTPUT_DIR=$BENCH_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $BENCH_OUTPUT_DIR

          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-accuracy-text-models-tpu-v6e-1 --auto-partition-id ${{ matrix.part }} --auto-partition-size 4
      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_bench_and_perf.py --source-dir ./test/nightly_test_output

      - name: Generate CSV Entry and publish
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        if: always()
        run: |
          mkdir -p ./test
          SHA=${{ github.sha }}
          AUTHOR=$(git log -1 --pretty=%an)
          MSG=$(git log -1 --pretty=%B | tr -d ',' | head -n 1)
          RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          FILE="./meta/benchmark/"$OUTPUT_DIR_NAME"/nightly_report.csv"
          mkdir -p ./meta/benchmark/$OUTPUT_DIR_NAME
          if [ ! -f "$FILE" ]; then
            echo "SHA,Author,Commit_Msg,Run_URL" > $FILE
          fi
          echo "$SHA,$AUTHOR,$MSG,$RUN_URL" >> $FILE
          echo "CSV line added: $SHA, $AUTHOR, $MSG"
          python3 scripts/ci/publish_bench_and_perf.py --source-dir ./meta

  nightly-test-accuracy-text-models-4-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-4
    strategy:
      fail-fast: false
      matrix:
        part: [0, 1 , 2, 3 , 4, 5]
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run eval test for text models
        env:
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
            HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        timeout-minutes: 1200
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"
          uv pip install evalscope==1.0.0


          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export BENCH_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/benchmark/$OUTPUT_DIR_NAME"
          echo "BENCH_OUTPUT_DIR=$BENCH_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $BENCH_OUTPUT_DIR

          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-accuracy-text-models-tpu-v6e-4 --auto-partition-id ${{ matrix.part }} --auto-partition-size 6
      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_bench_and_perf.py --source-dir ./test/nightly_test_output


  nightly-test-perf-text-models-1-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-1
    strategy:
      fail-fast: false
      matrix:
        part: [0, 1 , 2, 3, 4, 5, 6, 7]
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run performance test for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/perf/$OUTPUT_DIR_NAME"
          echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PERF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-perf-text-models-tpu-v6e-1 --auto-partition-id ${{ matrix.part }} --auto-partition-size 8

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |

          python3 scripts/ci/publish_bench_and_perf.py --source-dir ./test/nightly_test_output


  nightly-test-perf-text-models-4-tpu-part1:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-4
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run performance test for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/perf/$OUTPUT_DIR_NAME"
          echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PERF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite  nightly-test-perf-text-models-tpu-v6e-4-part1

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_bench_and_perf.py --source-dir ./test/nightly_test_output

      - name: Generate CSV Entry and publish
        env:
            GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
            GITHUB_RUN_ID: ${{ github.run_id }}
            GITHUB_RUN_NUMBER: ${{ github.run_number }}
        if: always()
        run: |
          mkdir -p ./test
          SHA=${{ github.sha }}
          AUTHOR=$(git log -1 --pretty=%an)
          MSG=$(git log -1 --pretty=%B | tr -d ',' | head -n 1)
          RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          FILE="./meta/perf/"$OUTPUT_DIR_NAME"/nightly_report.csv"
          mkdir -p ./meta/perf/$OUTPUT_DIR_NAME
          if [ ! -f "$FILE" ]; then
            echo "SHA,Author,Commit_Msg,Run_URL" > $FILE
          fi
          echo "$SHA,$AUTHOR,$MSG,$RUN_URL" >> $FILE
          echo "CSV line added: $SHA, $AUTHOR, $MSG"
          python3 scripts/ci/publish_bench_and_perf.py --source-dir ./meta


  nightly-test-perf-text-models-4-tpu-part2:
      if: github.repository == 'sgl-project/sglang-jax'
      runs-on: arc-runner-v6e-4
      continue-on-error: true
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Run performance test for text models
          timeout-minutes: 18000
          env:

            TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
            PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
            HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
          run: |
            python3.12 -m venv .venv
            source .venv/bin/activate
            pip install uv
            uv pip install -e "python[all]"

            export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
            export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/perf/$OUTPUT_DIR_NAME"
            echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
            mkdir -p $PERF_OUTPUT_DIR



            bash scripts/killall_sglang.sh
            cd test/srt
            python3 run_suite.py --suite  nightly-test-perf-text-models-tpu-v6e-4-part2

        - name: Publish traces to storage repo
          env:
            GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
            GITHUB_RUN_ID: ${{ github.run_id }}
            GITHUB_RUN_NUMBER: ${{ github.run_number }}
          run: |
            python3 scripts/ci/publish_bench_and_perf.py --source-dir ./test/nightly_test_output


  nightly-test-perf-text-models-4-tpu-part3:
        if: github.repository == 'sgl-project/sglang-jax'
        runs-on: arc-runner-v6e-4
        continue-on-error: true
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Run performance test for text models
            timeout-minutes: 18000
            env:

              TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
              PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
              HF_TOKEN: ${{ secrets.HF_TOKEN }}
              HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
            run: |
              python3.12 -m venv .venv
              source .venv/bin/activate
              pip install uv
              uv pip install -e "python[all]"

              export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
              export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/perf/$OUTPUT_DIR_NAME"
              echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
              mkdir -p $PERF_OUTPUT_DIR



              bash scripts/killall_sglang.sh
              cd test/srt
              python3 run_suite.py --suite  nightly-test-perf-text-models-tpu-v6e-4-part3

          - name: Publish traces to storage repo
            env:
              GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
              GITHUB_RUN_ID: ${{ github.run_id }}
              GITHUB_RUN_NUMBER: ${{ github.run_number }}
            run: |
              python3 scripts/ci/publish_bench_and_perf.py --source-dir ./test/nightly_test_output


  nightly-test-perf-trace-text-models-1-tpu:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-1
    strategy:
      fail-fast: false
      matrix:
        part: [0, 1 , 2, 3, 4, 5, 6, 7]
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run performance test for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/trace/$OUTPUT_DIR_NAME"
          echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PERF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite nightly-test-perf-trace-text-models-tpu-v6e-1 --auto-partition-id ${{ matrix.part }} --auto-partition-size 8

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_traces.py --traces-dir ./test/nightly_test_output


  nightly-test-perf-trace-text-models-4-tpu-part1:
    if: github.repository == 'sgl-project/sglang-jax'
    runs-on: arc-runner-v6e-4
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run performance test trace for text models
        timeout-minutes: 18000
        env:

          TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
          PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
        run: |
          python3.12 -m venv .venv
          source .venv/bin/activate
          pip install uv
          uv pip install -e "python[all]"

          export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
          export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/trace/$OUTPUT_DIR_NAME"
          echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
          mkdir -p $PERF_OUTPUT_DIR



          bash scripts/killall_sglang.sh
          cd test/srt
          python3 run_suite.py --suite  nightly-test-perf-trace-text-models-tpu-v6e-4-part1

      - name: Publish traces to storage repo
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          python3 scripts/ci/publish_traces.py --traces-dir ./test/nightly_test_output


  nightly-test-perf-trace-text-models-4-tpu-part2:
      if: github.repository == 'sgl-project/sglang-jax'
      runs-on: arc-runner-v6e-4
      continue-on-error: true
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Run performance test trace for text models
          timeout-minutes: 18000
          env:

            TRACE_BASE_URL: https://raw.githubusercontent.com/sglang-bot/sglang-ci-data/main/traces/${{ github.run_id }}
            PERFETTO_RELAY_URL: ${{ vars.PERFETTO_RELAY_URL }}
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
            HF_HUB_DOWNLOAD_TIMEOUT: ${{ vars.HF_HUB_DOWNLOAD_TIMEOUT }}
          run: |
            python3.12 -m venv .venv
            source .venv/bin/activate
            pip install uv
            uv pip install -e "python[all]"

            export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
            export PERF_OUTPUT_DIR="$GITHUB_WORKSPACE/test/nightly_test_output/trace/$OUTPUT_DIR_NAME"
            echo "PERF_OUTPUT_DIR=$PERF_OUTPUT_DIR" >> $GITHUB_ENV
            mkdir -p $PERF_OUTPUT_DIR



            bash scripts/killall_sglang.sh
            cd test/srt
            python3 run_suite.py --suite  nightly-test-perf-trace-text-models-tpu-v6e-4-part2

        - name: Publish traces to storage repo
          env:
            GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
            GITHUB_RUN_ID: ${{ github.run_id }}
            GITHUB_RUN_NUMBER: ${{ github.run_number }}
          run: |
            python3 scripts/ci/publish_traces.py --traces-dir ./test/nightly_test_output

        - name: Generate CSV Entry and publish
          env:
            GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_NIGHTLY_CI_DATA }}
            GITHUB_RUN_ID: ${{ github.run_id }}
            GITHUB_RUN_NUMBER: ${{ github.run_number }}
          if: always()
          run: |
            mkdir -p ./test
            SHA=${{ github.sha }}
            AUTHOR=$(git log -1 --pretty=%an)
            MSG=$(git log -1 --pretty=%B | tr -d ',' | head -n 1)
            RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            export OUTPUT_DIR_NAME=$(date +'%Y-%m-%d')
            FILE="./meta/trace/"$OUTPUT_DIR_NAME"/nightly_report.csv"
            mkdir -p ./meta/trace/$OUTPUT_DIR_NAME
            if [ ! -f "$FILE" ]; then
              echo "SHA,Author,Commit_Msg,Run_URL" > $FILE
            fi
            echo "$SHA,$AUTHOR,$MSG,$RUN_URL" >> $FILE
            echo "CSV line added: $SHA, $AUTHOR, $MSG"
            python3 scripts/ci/publish_bench_and_perf.py --source-dir ./meta
